<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="BELLADB" connectionString="Server=.\SQLEXPRESS;Database=BELLA;Trusted_Connection=True;"
		 providerName="System.Data.SqlClient" />
		<add name="SKILLCONSTRUCTION.Properties.Settings.SkillConstructionConnectionString"
		 connectionString="Data Source=DESKTOP-6OCJO0P\SQLEXPRESS;Initial Catalog=SkillConstruction;Integrated Security=True"
		 providerName="System.Data.SqlClient" />
	</connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>